/* Form Stylings */

.formSection {
  width: 70%;
  margin: auto;
}

.formSection__form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #8FBCBC;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 6px;
}

.formSection__title {
  font-size: 1.5rem;
}

.formSection__formButton {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 10px;
    border-radius: 5px;
    height: 40px;
    width: 100px;
}

.formSection__formInput {
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: cornsilk;
}

.weather__input {
    align-self: left;
  
}

.formSection__formButton:hover {
    background-color: darkseagreen;
    color: var(--black-color);
    box-shadow: 2px 2px 6px;
}

.formSection__formLabel {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
}

.weather__input,
.name__input {
  
    display: flex;
    align-items: center;
    gap: 25px;
}

input[type="checkbox"] {
    appearance: none;
    background-color: cornsilk;    
    margin: 0;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
    color: var(--form-control-disabled);
    cursor: not-allowed;
}